<html>
	<head>
		<title><%=title%></title>
	</head>
<body>
	<h1><%=title%></h1>
</body>
</html>
//add user/view route - we are cheating by using the array index + 1
app.get('/users/view/:id', function(req, res) {
 var title = 'User Page';
 var id = req.params.id;
 res.render('users/view', {
     title: title,
     user: data[--id]
 });
});
